* {
    margin: 0;
    padding: 0;
}

:root {
    --controller-height: 10vh;
    --slider-height: 2vh;
}

body {
    background: #000;
    color: #666;
    text-align: center;
    overflow: hidden;
}

#sky {
    background: radial-gradient(
            closest-corner circle at 8% 5%,
            #ffff66,
            #ffff66 95%,
            rgb(247, 176, 114) 10%,
            rgb(15, 30, 63) 100%
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: transparent;
    z-index: 0;
    bottom: var( --controller-height);
}


.container {
    height: 72vh;
    overflow: hidden;
    z-index: 100;
    margin-bottom: 2vh;
}

.container ul {
    /* border: 2px solid #fff; */
    transition: 0.6s;
    list-style: none;
}

.container li {
    height: 30px;
    /* border: 1px solid #fff; */
    line-height: 30px;
    transition: 0.2s;
}

.container li.active {
    color: #fff;
    transform: scale(1.2);
}

#controller {
    display: flex;
    column-gap: 5px;
    justify-content: space-around;
    align-items: center;
    background-color: #c0c4c3;
    height: var( --controller-height);
}

#ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: gold;
}
#ball-dad {
    border-radius: 50%;
    border: 5px solid gray;
}
#ball-grandpa {
    border-radius: 50%;
    border: 5px solid black;
}

i.hide  {
    display: none;
}

#song_info {
    text-align: left;
}

#player, #play-duration, #voice {
    display: flex;
    column-gap: 5px;
    align-items: center;
}


/* 进度条 */
.slider-container {
    width: 100%;
  }
  
  .slider {
    border-radius: 5px;
    -webkit-appearance: none;  
    appearance: none;
    width: 100%;
    height: var(--slider-height);
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  .controller i:hover, .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: var(--slider-height);
    background: #4CAF50; 
    cursor: pointer;
    border-radius: 5px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: var(--slider-height);
    background: #4CAF50; 
    cursor: pointer;
  }
  
  