/*整体背景颜色 字体*/
body{
    background-color: #35333c;
    font-family: "SmileySans";
    color: #d8e3e7;
}

/*大标题居中*/
h1, p {
    margin: 1em auto;
    text-align: center;
}

/*表单最大最小宽度 居中*/
form {
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    margin: 0 auto 2em auto;
}

/*表单组 下边框实线代替横线 内边距隔开点*/
fieldset {
    border: none;
    border-bottom: 0.1em solid #475164;
    padding: 1.5em 0;
}

/*最后一个表单组不需要下边框*/
fieldset:last-of-type {
    border-bottom: none;
}

/*标签独占一行 让单选多选可以独占一行*/
label {
    display: block;
    padding-bottom: 1em;
}

/*输入独占一行 最低高度 字体颜色字体*/
input, textarea, select {
    width: 100%;
    background-color: #47484c;
    border: none;
    min-height: 2em;
    margin-top: 0.5em;
    color:#e2e1e4;
    font-family: "SmileySans";
}

/*单选框多选框不独占一行*/
.inline {
    width: unset;
    margin-top: unset;
    vertical-align: middle;
}

/*链接字体颜色跟字体颜色一致*/
a {
    color: #e2e1e4;
}

/*提交按钮居中*/
input[type="submit"] {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 20vw;
}