:root {
    --button-height: 8vh;
    --main-background-color: #15231b;
    --white-color: #fffef8;
}

main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    background-color: var(--main-background-color);
}

h1 {
    font-size: 1.5rem;
    color: var(--white-color);
}

div#panel {
    width: 20vw;
    min-width: 380px;
    min-height: 380px;
    background-color: #363433    ;
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 5px;
}

div#result_panel input {
    text-align: right;
    border: none;
    background-color: transparent;
}

div#result_panel div:first-child input {
    font-size: 0.9rem;
    color: gold;
}

div#result_panel div:last-child input {
    font-size: 1.5rem;
    color: var(--white-color);
}

button {
    height: var(--button-height);
}

button#equal {
    height: calc(var(--button-height) * 2);
}

/* button:hover {
    opacity: 0.5;
} */

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: var(--white-color);
    border: 1px solid #444;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.5);
    transition: 0.2s all;
  }
  
  button:hover {
    background: linear-gradient(to bottom, #808080, #c0c0c0);
  }
  
  button:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.5);
  }
  