:root {
    --header-height: 4vh;
    --total-radius: 5px;
    --markdown-height: 80vh;
    --content-padding: 10px;
    --default-font-family: 'Microsoft YaHei', Arial, sans-serif;
    --diy-font-family: 'SmileySans', Arial, sans-serif;
    --body-background-color: #c4cbcf;
    --header-background-color: #2f2f35;
    --header-before-background-color: #e2e1e4;
    --preview-content-background-color: white;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: var(--body-background-color);
}

h1#title {
    text-align: center;
    font-family: var(--default-font-family);
    color: var(--header-background-color);;
}

#markdown_container {
    display: flex;
    width: 100vw;
    height: 90vh;
    column-gap: 5px;
    padding: 0 20px;
}

.markdown_viewport {
    flex: 1
}

.markdown_viewport header {
    background-color: var(--header-background-color);
    height: var(--header-height);
    border-radius: var(--total-radius);
    line-height: var(--header-height);
    font-size: 1.3rem;
    color: aliceblue;
}

.markdown_viewport header::before {
    background-color: var(--header-before-background-color);
    width: 10px;
    content: "";
    height: var(--header-height);
    float: left;
    margin-right: 10px;
    border-top-left-radius: var(--total-radius);
    border-bottom-left-radius: var(--total-radius);
}

.markdown_area {
    height: var(--markdown-height);
    width: 100%;
    border-radius: var(--total-radius);
}

section#markdown_content {
    font-family: var(--default-font-family);
}

section#preview_content {
    font-family: var(--diy-font-family);
}

section#markdown_content textarea {
    resize: none;
    font-size: 1rem;
    padding: var(--content-padding);
    font-family: var(--default-font-family);
}

div#preview_result {
    padding: 0 var(--content-padding);
    overflow-y: auto; /* 允许纵向滚动 */
    overflow-x: hidden; /* 阻止横向滚动 */
    background-color: var(--preview-content-background-color);
}